.App {
    margin:10px 10px 10px 10px;
}
.scrolly {
    height: 350px;
    width: 100%;
    overflow-y: scroll;
}
thead th{
    position: sticky;
    top: 0;
    background-color: rgb(213, 248, 248);
}

