.App {
  display: flex;
  justify-content: center;
}
.inputContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: rgb(183, 240, 240);
}
.input{
    height: 40px;
    width: 100px;
    justify-content: center;
    flex-direction: column;
}
.friendsList{
    
}
.friendrow{
    height: 20px;
    width: 400px;
    background-color: rgb(181, 240, 240);
    display: flex;
}
.friendrow h3{
    margin-left: 10px;
}
